/* HEADER
---------------------------------------- */
.header {
  padding: 4.286em 0 0;
  //width: 100%;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  transition: padding .2s,
              background-color .2s;

  &__logo {
    display: inline-block;
    vertical-align: top;
    margin: 0.714em 0;
    transition: all .2s;
  }
  &__nav {
    display: inline-block;
    vertical-align: top;
    padding: 1.143em 0 0;
    margin-left: 4.286em;
    transition: all .2s;
  }
  &__order {
    display: inline-block;
    vertical-align: top;
    float: right;
  }

  &.sticky {
    background-color: white;
    box-shadow: 0 0 1.071em 0 rgba(0,0,0,.1);
    padding: 0.714em 0;
    .header {
      &__logo {
        margin: 0.571em 0 0;
      }
      &__nav {
        padding-top: 0.714em;
      }
    }
    .btn {
      height: 3.333em;
      line-height: 3.667em;
    }
  }
}

.logo {
  display: inline-block;
  width: 46px;
  height: 30px;
  background: url(../images/logo.png) no-repeat;
  background-size: cover;
  text-decoration: none;
  text-indent: -9999px;

  opacity: .8;
}

.menu-primary {
  font-size: 0;
  line-height: 1;
  margin: 0 -1.071rem;
  padding: 0;
  &__item {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    margin: 0 1.071em;
    position: relative;
    &::before {
      display: none;
    }
    & a,
    & span {
      font: 400 1rem/1.5 $font;
      display: inline-block;
      text-decoration: none;
      white-space: nowrap;
      border-bottom: 2px solid transparent;

      transition: all .3s ease-in-out;

      &:hover {
        border-color: lighten($color-font, 70%)
      }
    }
    & span {
      cursor: default;
    }
    &.is-active {
      & a {

      }
    }
  } 
}