.s-definition {
  background: $color-back url(../images/b_definition.jpg) center no-repeat;
  background-size: cover;
  //height: 600px;

  &__inner {
    font-size: 1.143em;
    border: 2px solid $color-primary;
    padding: 8.125em 4.375em;
    //margin: 3.571em 0;
    p:last-child {margin: 0;}
  }
}
