.s-features {
  padding-bottom: 0 !important;
  .coach {
    &__item {
      margin-bottom: 2.5em;
      &-head {
        display: flex;
        align-items: center;
        margin-bottom: 1.786em;
      }
      &-img {
        min-width: 140px;
        margin-right: 50px;
        border-radius: 50%;
      }
      &-info {

      }
      &-title {
        margin: 0;
      }
      &-post {
        font-size: 1.286em;
        font-style: italic;
      }
      &-text {
        margin-bottom: 0.714em;
      }
      &-link {
        display: inline-block;
        color: #999;
        line-height: .9;
        text-decoration: none;
        border-bottom: 1px dashed #cfcfcf;
        &:hover {
          border-color: transparent;
        }
      }
    }
  }
}
