.s-main {
  background: #efefef url(../images/b_main.jpg) bottom right no-repeat;
  background-size: 50%;
  min-height: 640px;
  @include bp-xlarge {
    min-height: 750px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 640px;
  }
  &__title {
    line-height: 1;
    margin: 0 0 1.190em;

    em {
      font-size: 1.714em;
      font-style: normal;
      display: block;
      margin-left: -0.361em;
      small {
        font-size: 0.6em;
      }
    }
  }
  &__introtext {
    font-size: 1.714em;
    font-weight: 300;
    line-height: 1.2;
    max-width: 50%;
  }
  &__sign {
    color: white;
    font-weight: 700;
    position: absolute;
    right: 70px;
    bottom: 45px;
  }
}

// DEVICE

.desktop {
  &.landscape {
    .s- {
      &main {
        height: 100vh;
        &__inner {
          height: 100vh;
        }
      }
    }
  }
}
