.s-quote {
  background: $color-back url(../images/b_quote-shimich.jpg) top center no-repeat;
  background-size: cover;
  height: 600px;

  &__text {
    font-size: 2.143em;
    font-weight: 700;
    margin: 5em 0 0.333em 0;
  }
  &__sign {
    color: #666;
    font-size: 1.286em;
    font-style: italic;
  }
}
